body {
    margin: 0px;
}

.website {
    max-width: 600px;
    margin: auto;
    background: #eee;
}

/* HEADER */
#header {
    background: #313232;
    width: 100%;
    color: #fff;
    height: 45px;
}

.header-item {
    height: 100%;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    width: 32.87%;
}

.header-item:not(.active):hover {
    background: #555555;
    cursor: pointer;
}

.active {
    background: #eee;
    color: black;
}

/* MAIN */
#main {
    margin-top: 10px;
    margin: auto;
    width: 100%;
    min-height: 300px;
}

/* ABOUT ME SECTION */

/* PROJECTS SECTION */
#projects {
    margin-top: 10px;
    /*margin: auto;*/
}

.project {
    width: 100%;
}

.project:hover {
    background: #ddd;
}

.title {
    font-weight: bold;
}

.links {
    width: 100%;
}

.icon {
    display: inline-block;
}

.icon:hover {
    cursor: pointer;
}

/* RESUME SECTION */
#resume {
    width: 600px;
    /*margin: auto;*/
}

embed {
    width: 600px;
    height: 700px;
}

/* FOOTER */
#footer {
    background: #313232;
    width: 100%;
    color: #fff;
    height: 45px;
}

.footer-item {
    height: 100%;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    width: 32.87%;
}

.footer-item:hover {
    background: #555555;
    cursor: pointer;
}